*{
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
}


button{
  padding: 10px 20px;
  margin: 20px;
  background: rgb(52, 29, 29);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  box-shadow: 2px solid black;
}
h1{
  background: rgb(208, 160, 160);
  padding:10px 70px ;
  margin: 20px;
  width: fit-content;
  font-size: 10rem;
  border-radius: 5px;
  color: maroon;
}