*{
    margin :0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,

body{
    height: 100%;
    width: 100%;
}
.parent{
    width: 100%;
    background-color: #111;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
     align-items: center;
}

.card{
    height: 330px;
    width: 280px;
    background-color: #f7f1f1;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top img{
    height: 30px;
    width: 30px;
    background: rgb(241, 181, 181);
    border-radius: 50px;
    border: 1px solid #dadada;
    
}

.top button{
    display: flex;
    border:1px solid #dadada;
    background-color:transparent;
    border-radius: 5px;
    align-items: center;
    padding :4px  8px;
    font-size: 13px;
    font-weight: 550;
    color: #b8b8b8;

}
.center{
    margin-bottom: 50px;
}

.center h3{
    font-size: 20px;
    font-weight: 500;
}

.center h3 span{
    font-size: 10px;
    font-weight: 400;
    color: #989898;
}

.center h2{
    font-size: 20px;
}

.center .tag{
    padding:5px;
    display: flex;
    gap: 8px;
}

.center .tag h4{
    font-size: 12px;
    background-color: #c8c4c4;
    color: #111;
    font-weight: 550;
    border-radius: 5px;
    padding:2px 5px;

}


.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #b1b1b1;
    padding-top:15px;
}


.bottom button{
    background-color: #111;
    color: white;
    border: #dadada;
    border-radius: 5px;
    padding:5px 10px;
    font-weight: 600;
}

.bottom h3{
    font-size: 20px;
}

.bottom p{
    font-size: 17px;
    color:#7c7a7a
}